<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FilpKart_Automation">
  <test thread-count="5" name="Tests">
    <classes>
      <class name="Flipkart_TestCases.TC_01_RegistrationTest"/>
      <class name="Flipkart_TestCases.TC_02_LoginTest"/>
      <class name="Flipkart_TestCases.TC_03_SearchTest"/>
      <class name="Flipkart_TestCases.TC_04_Become_a_sellerTest"/>
      <class name="Flipkart_TestCases.TC_05_Account_ActivityTest"/>
      <class name="Flipkart_TestCases.TC_06_Add_to_CartTest"/>
      <class name="Flipkart_TestCases.TC_07_LogoTest"/>
      <class name="Flipkart_TestCases.TC_08_LogOutTest"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
